<ion-toolbar color="primary"  style="margin-top: 5%;">
  <ion-img style="width: 10%; height: 10%;" src="../../assets/img/logo.png" slot="secondary"></ion-img>
  <ion-title>Products</ion-title>
</ion-toolbar>

<ion-content>
  <ion-list *ngIf="!noOffert">
    <ion-item *ngFor="let product of Products let i = index" [routerLink]="['/product', product.id]">
      <ion-avatar slot="start">
        <ion-img [src]=product.ref></ion-img>
      </ion-avatar>
      <ion-label>
        <h2>{{ product.name }}</h2>
        <h3>{{ product.price }}€</h3>
        <h4>{{ product.countdownDay }} day {{ product.countdownHour }} hour remaining</h4>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-item *ngIf="noOffert"> No product</ion-item>  
</ion-content>
