<ion-toolbar color="primary">
  <ion-img style="width: 10%; height: 10%;" src="../../assets/img/logo.png" slot="secondary">
  </ion-img>

  <ion-title>Sell product</ion-title>

  <ion-buttons slot="primary">
    <ion-button class="btn btn-primary" slot="primary" (click)="logout()">Log Out</ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()" novalidate>
    <ion-item>
      <ion-label position="stacked" class="title">TEST</ion-label>
      <ion-input formControlName="title" type="text" placeholder="Title"></ion-input>
      <span class="error ion-padding" *ngIf="submitted && errorCtr.title.errors?.required">
        Your name is required.
      </span>
      <span class="error ion-padding" *ngIf="submitted && errorCtr.title.errors?.minlength">
        Your name must be 5 chars long.
      </span>
      <span class="error ion-padding" *ngIf="submitted && errorCtr.title.errors?.pattern">
        Your name must contain only letters.
      </span>

      <ion-input formControlName="price" type="number" min="0" placeholder="Price">€ </ion-input>
      <span class="error ion-padding" *ngIf="submitted && errorCtr.price.errors?.required">
        A starting price is requiered.
      </span>
      <span class="error ion-padding" *ngIf="submitted && errorCtr.price.errors?.pattern">
        Enter a valid price;
      </span>

      <ion-label position="stacked">Date limit (00:00)</ion-label>
      <ion-datetime formControlName="dateLimit" [value]="defaultDate" placeholder="May 15, 2021" [min]="today" [max]="maxDate"></ion-datetime>
      <span class="error ion-padding" *ngIf="submitted && errorCtr.dateLimit.errors?.required">
        Your date of birth is required.
      </span>
      <ion-textarea maxlength="300" formControlName="description" type="text" required placeholder="Description (300 chars max)"></ion-textarea>
     
      <span class="error ion-padding" *ngIf="submitted && errorCtr.description.errors?.required">
        A description is required.
      </span>

      <ion-input formControlName="state" type="text" maxlength="20" placeholder="State : New, Good, Damaging"></ion-input>
      <span class="error ion-padding" *ngIf="submitted && errorCtr.state.errors?.required">
        A state is requiered.
      </span>
      <span class="error ion-padding" *ngIf="submitted && errorCtr.state.errors?.pattern">
        Enter a valid price ;
      </span>
    </ion-item>
    <ion-card class="ion-text-center" *ngIf="!isUploading && !isUploaded">
      <ion-card-header>
        <ion-card-title>Choose Images to Upload</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-button color="primary" size="medium">
          <input type="file" (change)="uploadImage($event.target.files)" formControlName="file" />
        </ion-button>
        <span class="error ion-padding" *ngIf="submitted && errorCtr.file.errors?.required">
          An image of the product is required.
        </span>
      </ion-card-content>
    </ion-card>

    <!-- File upload progress bar -->
    <div *ngIf="percentageVal | async as percentage">
      Progress: {{ percentage | number }}%
      <ion-progress-bar value="{{ percentage / 100 }}"></ion-progress-bar>
    </div>

    <div *ngIf="trackSnapshot | async as snap">
      File size: {{ snap.totalBytes | formatFileSize }} 
      
      Data transfered: {{ snap.bytesTransferred | formatFileSize }}
    </div>    
    <ion-row>
      <ion-col>
        <ion-button (click)="onSubmit()" color="primary" expand="block">Submit</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>

