<ion-toolbar color="primary">
  <ion-img style="width: 10%; height: 10%;" src="../../assets/img/logo.png" slot="secondary"></ion-img>
    <svg class='ionicon' viewBox='0 0 512 512' [routerLink]="['/all-products']">
      <path fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='32' d='M249.38 336L170 256l79.38-80M181.03 256H342'/>
      <path d='M448 256c0-106-86-192-192-192S64 150 64 256s86 192 192 192 192-86 192-192z' fill='none' stroke='currentColor' stroke-miterlimit='10' stroke-width='32'/>
    </svg>
    <ion-title>{{ name }}</ion-title>
</ion-toolbar>

<ion-content style="text-align: center;">
  <ion-img *ngIf="productRef"[src]="productRef.ref"></ion-img>
  <ion-item>
  <ion-label><h2>Price :</h2> {{ price }}€</ion-label>
  </ion-item>
  <ion-item>
  <ion-label><h2>Description :</h2> {{ description }}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label><h2>Condition :</h2> {{ condition }}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label><h2>CountDown :</h2> {{ countdown }}</ion-label>
  </ion-item>
  <ion-button *ngIf="userId != actualUserId" (click)="deleteProduct()"> Make offert </ion-button>
  <ion-button *ngIf="userId == actualUserId" color="danger" (click)="deleteProduct(productRef)"> Remove </ion-button>
</ion-content>