<ion-toolbar color="primary">
  <ion-img style="width: 10%; height: 10%;" src="../../assets/img/logo.png" slot="secondary">
  </ion-img>

  <ion-title>My account</ion-title>

  <ion-buttons slot="primary">
    <ion-button class="btn btn-primary" slot="primary" (click)="logout()">Log Out</ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content class="ion-padding">

  <ion-grid>
    <ion-row>
      <ion-col text-center>
        Welcome to Dashboard!
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        Your Registered EmailID : {{userEmail}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Test {{ user }}
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-tabs>
    <ion-tab-bar slot="listProducts">
      <ion-tab-button tab="schedule">
        <ion-icon src="../../assets/icon/bullet-list.svg"></ion-icon>
        <ion-label>List products</ion-label>
        <ion-badge>10</ion-badge>
      </ion-tab-button>
  
      <ion-tab-button tab="myAccount">
        <ion-icon name="person-circle" color="primary"></ion-icon>
        <ion-label color="primary">My account</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="myProduct">
        <ion-icon src="../../assets/icon/inventory.svg"></ion-icon>
        <ion-label>My products</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>  
</ion-content>
